<nav class="nav-bar">
    <div class="logo">
        Frondo
    </div>
    <div class="menu">
        <a href="/" class="items">Home</a>
        <a href="/blogs" class="items">Blogs</a>
        <a href="/merch" class="items">Merch</a>
        <a href="/about-us" class="items">About Us</a>
    </div>
</nav>

<div class="mobile-menu">
    <div class="menu">
        <ul class="menu-list">
            <li><img src="/content/frondo bg.png" class="logo-mobile" alt=""></li>
            <li class="option"><a href="/">Home</a></li>
            <li class="option"><a href="/blogs">Blogs</a></li>
            <li class="option"><a href="/merch">Merch</a></li>
            <li class="option"><a href="/about-us">About Us</a></li>
        </ul>
    </div>
</div>

<nav class="hamburger">
    <span></span>
    <span></span>
    <span></span>
</nav>