<div class="wrapper-about show">
    <h1>
        About Us
    </h1>
    <p class="main-desc">
        Frondo is a STEM-focused non-profit that has objectives to provide solutions for environmental problems through 3 main pillars: Purpose, Community, and Technology.
    </p>

    <h2 class="purpose">
        Purpose
    </h2>
    <p class="definition">
        Purpose has always been a crucial part of us. Our goal is to utilize waste together with STEM to create a cleaner and more sustainable world. With small steps through this project, we strive to maximize resources, reduce waste and make energy affordable.
    </p>

    <h2 class="community">
        Community
    </h2>
    <p class="definition">
        With the community, we believe that this project will continue to grow and reach its full potential. Through collaboration, support and exchange of ideas between community members and external sources, we are confident that we will be able to run this project more effectively and efficiently.
    </p>

    <h2 class="technology">
        Technology
    </h2>
    <p class="definition">
        STEM has been a major part of our lives these days. Technology has only been rising these past couple of years, and it will continue to. By utilizing technological advancements, we can create optimal solutions to real-world problems. Therefore, we aim to take technology to our advantage in environmental situations.
    </p>
    
</div>

<div class="wrapper-about castro show">
    <h1>
        Get to know Pedro!
    </h1>
    <div class="pedro">
        <div class="img-mascot">
            <img src="/content/Pedro.png" alt="" class="pedro">
        </div>
        <div class="text">
            <div class="p">
                <p>Pedro isn't just any regular beaver; he's a beaver deeply committed to the well-being of the Earth! He enjoys discussing his remarkable ideas to alleviate issues affecting our ecosystem and actively engages in research on the subject.

                </p>
                <p>
                    Beavers are known for their hardwork and resilience. Furthermore, their skills in building dams and lodges, which help water flow and provide habitats for other wildlife, are analogous to the engineering and creativity aspect of our project. Hence, we picked our mascot to be a beaver. Frankly, we simply wanted a name that rhymed with Frondo, leading us to choose Pedro.

                </p>
            </div>
    
            
    
        </div>
    </div>
    
</div>
