<div class="hero1 show">
    <img src="/content/tree.png" alt="" class="tree-phone">
    <div class="textinner-hero1">
        <h1>Welcome, our <i>Besto Frondo</i>!</h1>
        <p>Frondo is a non-profit project aimed to overcome environmental issues using education, innovation, and collaboration.</p>
    </div>
    <img src="/content/tree.png" alt="" class="tree">
</div>

<div class="hero2 show">
    <img src="/content/indo.png" alt="" class="indo">
    <div class="textinner-hero3">
        <h1>Unfortunately, Indonesia’s waste problem has been soaring.</h1>
    <p>With a population of 250 million, Indonesia is the fourth most populous country and <span>second-largest plastic polluter</span> in the world after China. The country produces 3.2 million tonnes of unmanaged plastic waste a year, of which about 1.29 million tonnes ends up in the sea. In addition, approximately 10 billion plastic carry bags, equal to 85,000 tonnes, are released into its local environment each year. This unmanaged plastic waste has also affected Indonesian rivers and the ocean. - <em>UN Environment Programme</em></p>
    </div>
</div>

<div class="hero3 show">
    <img src="/content/logo.png" alt="" class="logo1">
    <div class="textinner-hero2">
        <h1>Want to join our journey?</h1>
        <p>Join us on our Discord to indulge in discussions with other people alike! Other than that, you can directly donate to us to help on further projects.</p>
        <div class="button1">
            <a href="https://discord.gg/eaRXvyjG" target="_blank" class="dc"><span>Join our Discord</span><svg width="2rem" height="auto" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-discord" viewBox="0 0 16 16">
                <path d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612"/>
              </svg></a>
        </div>
    </div>
</div>