<form action="/blog/admin-login-frondo" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="enter admin username">
    <label for="password">Password</label>
    <input type="text" name="password" id="password" placeholder="enter admin password">
    <button type="submit" class="btn-sbmt">Login</button>
</form>