<h1 class="post-title">
    <%-blog.title%>
</h1>

<div class="date">
    <%-blog.currentDate.toDateString()%>
</div>

<div class="image-div">
    <img class="post-image" src="/content/<%=blog.image%>" alt="">

</div>


<div class="post-body">
    <%-blog.body%>
</div>

